<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_NAME" value="AppName" />
    <env name="DB_CONNECTION" value="testing" />
    <env name="CACHE_DRIVER" value="array" />
    <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10=" />
    <env name="CASHIER_PAYMENT_NOTIFICATION" value="Laravel\Cashier\Notifications\ConfirmPayment" />
    <env name="MAIL_MAILER" value="log" />
    <env name="APP_DOMAIN" value="localhost" />
    <env name="APP_ADMIN_EMAIL" value="hello@example.com" />
    <env name="MAIL_FROM_ADDRESS" value="hello@example.com" />
    <env name="STRIPE_SECRET" value="sk_test_dev_secret_key"/>
  </php>
</phpunit>
