.fc-toolbar-chunk button {
    text-transform: capitalize;
    padding: .375rem .75rem;
}

.fc-toolbar-chunk .fc-prev-button,
.fc-toolbar-chunk .fc-next-button {
    background: var(--primary);
    color: white
}